<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>search_serial</servlet-name>
        <servlet-class>photoLost.search_serial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regist_serial</servlet-name>
        <servlet-class>photoLost.regist_serial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search_serial</servlet-name>
        <url-pattern>/search_serial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regist_serial</servlet-name>
        <url-pattern>/regist_serial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
